.App {
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-bottom: 0px;
}

body * {
  font-family: 'Lucida Console', monospace;
  text-align: center;
  justify-content: "center";
}

table {
  margin: auto;
}

td {
  text-align: left;
  padding-left: 10px;
}

.squares {
  background-color: black;
}